.education {
    padding: 50px 15px;
    background: var(--second-bg-color);
}

.education h2 {
    margin-bottom: 3rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(139, 92, 246, 0.3);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 25px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgba(139, 92, 246, 0.5);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 10px;
}

.timeline-content {
    background-color: rgba(139, 92, 246, 0.05);
    border: 1px solid rgba(139, 92, 246, 0.3);
    padding: 20px 30px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    background-color: rgba(139, 92, 246, 0.1);
    border-color: var(--main-color);
    transform: translateY(-3px);
}

.timeline-content h3 {
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
