.services {
    background: var(--bg-color);
    color: black;
}

.services h2 {
    margin-bottom: 3rem;
    color: white;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    background-color: rgba(139, 92, 246, 0.05);
    height: auto;
    min-height: 220px;
    border-radius: 12px;
    border: 1px solid rgba(139, 92, 246, 0.3);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.service-box:hover {
    background: rgba(139, 92, 246, 0.1);
    border-color: var(--main-color);
    transform: translateY(-5px);
}

.service-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.5rem;
}

.service-info h4 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.service-info p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7;
    color: var(--text-color);
    opacity: 0.9;
}
