.video-showcase {
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.video-showcase h2 {
    margin-bottom: 5rem;
    color: white;
}

.video-container {
    position: relative;
    max-width: 900px;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgba(139, 92, 246, 0.3);
    transition: 0.3s ease-in-out;
}

.video-container:hover {
    border-color: var(--main-color);
    transform: translateY(-5px);
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
