<section class="education" id="education">
    <h2 class="heading">Education</h2>

    <div class="timeline-items">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2022 - 2024</div>
            <div class="timeline-content">
                <h3>Advanced Programming Management</h3>
                <p>
                    Backend development: Django, Springboot, .NET, Express.js<br>
                    Databases: MySQL, PostgreSQL, MongoDB,Redis.<br>
                    IOT: Arduino, Raspberry, Orange pi, ESP32.<br>
                    OS: Windows, Linux, Mac.<br>
                    Memory of stay:<br>
                    Administration and sales for authorized Coca-Cola distribution centers 2024.<br>
                    School Control System Ignacio Manuel Altamarino Secondary School.<br>
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2024</div>
            <div class="timeline-content">
                <h3>Greenford College London</h3>
                <p>
                    Exchange student at Greenford College, London, United Kingdom.
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2022 - 2025</div>
            <div class="timeline-content">
                <h3>Certificates</h3>
                    <p>
                        State Mathematics Science Competition 2022| Durango Technological Institute<br>
                        Cisco NetAcad Networking 2024 | Cybersecurity<br>
                        Datathon 2025 — Credifiel | Monterrey Technology<br>
                        HackMTY 2025 — CapitalOne | Monterrey Technology
                    </p>
            </div>
        </div>

        <!-- <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2022 - 2024</div>
            <div class="timeline-content">
                <h3>Tecnológica Universidad de Durango</h3>
                <p>
                    Especialización en Tecnologías de Información con
                    enfoque en desarrollo de plataformas
                    multiplataforma.
                </p>
            </div>
        </div> -->
    </div>
</section>
