<footer class="footer">
    <div class="social">
        <a href="#"><i class="bx bxl-linkedin"></i></a>
        <a href="#"><i class="bx bxl-github"></i></a>
        <a href="#"><i class="bx bx-file"></i></a>
    </div>

    <ul class="list">
        <li>
            <a href="#">Preguntas</a>
        </li>
        <li>
            <a href="#services">Servicios</a>
        </li>
        <li>
            <a href="#home">Acerca de Mí</a>
        </li>
        <li>
            <a href="#contact">Contacto</a>
        </li>
        <li>
            <a href="#testimonials">Proyectos</a>
        </li>
    </ul>
    <p class="copyright">
        Luis Angel Hidalgo Vazquez | Todos los Derechos Reservados
        &copy; 2025
    </p>
</footer>
