<section class="home" id="home">
    <div class="home-content">
        <h1>Hola, Soy <span>Luis Angel</span></h1>
        <h3 class="text-animation">Soy <span></span></h3>
        <p>
            Estudiante de programación buscando un trabajo relacionado con la
            creación de páginas web, tanto en Frontend como en Backend. Con
            experiencia en múltiples tecnologías y marcos de desarrollo web
            modernos.
        </p>

        <div class="social-icons">
            <a
                href="https://www.linkedin.com/in/luis-angel-hidalgo-vazquez-ba0665333"
                ><i class="bx bxl-linkedin"></i
            ></a>
            <a href="https://github.com/luisHidalgo-git"
                ><i class="bx bxl-github"></i
            ></a>
            <a
                href="https://cv-frontend.my.canva.site/c-v-backend"
                ><i class="bx bx-file"></i
            ></a>
            <a 
                href="mailto:hidalgovazquezluisangel2004@gmail.com" class="email-link">
                <i class="bx bx-envelope"></i>
                <span>hidalgovazquezluisangel2004@gmail.com</span>
            </a>
        </div>

    </div>
    <div class="home-img">
        <img src="images/profile.png" alt="" />
    </div>
</section>
