<section class="home" id="home">
    <div class="home-content">
        <h1>Hi, I am <span>Luis Angel</span></h1>
        <h3 class="text-animation">I enjoy working on the <span></span></h3>
        <p>
            Backend Developer​, I focus on Data Analyst,
Databases and Informatic Security. I would be
delighted to work with you​.
        </p>

        <div class="social-icons">
            <a
                href="https://www.linkedin.com/in/luis-angel-hidalgo-vazquez-ba0665333"
                ><i class="bx bxl-linkedin"></i
            ></a>
            <a href="https://github.com/luisHidalgo-git"
                ><i class="bx bxl-github"></i
            ></a>
            <a
                href="https://cv-frontend.my.canva.site/c-v-backend"
                ><i class="bx bx-file"></i
            ></a>
            <a 
                href="mailto:hidalgovazquezluisangel2004@gmail.com" class="email-link">
                <i class="bx bx-envelope"></i>
                <span>hidalgovazquezluisangel2004@gmail.com</span>
            </a>
        </div>

    </div>
    <div class="home-img">
        <img src="images/profile.png" alt="" />
    </div>
</section>
