<section class="services" id="services">
    <h2 class="heading">Services</h2>

    <div class="services-container">
        <div class="service-box">
            <div class="service-info">
                <h4>Backend Development</h4>
                <p>
                    Management of SQL and non-SQL Databases, handling and creation of APIs, Security and Authentication, Data Analysis.
                </p>
            </div>
        </div>

        <div class="service-box">
            <div class="service-info">
                <h4>IoT</h4>
                <p>
                    Working with Arduino, Raspberry, Orange Pi, and
                    ESP32. Development of IoT projects with Hardware and Software integration.
                </p>
            </div>
        </div>
    </div>
</section>
