<section class="services" id="services">
    <h2 class="heading">Services</h2>

    <div class="services-container">
        <div class="service-box">
            <div class="service-info">
                <h4>Desarrollo Backend</h4>
                <p>
                    Management of SQL and non-SQL databases, handling and creation of APIs, security and authentication, data analysis.
                </p>
            </div>
        </div>

        <div class="service-box">
            <div class="service-info">
                <h4>IoT</h4>
                <p>
                    Working with Arduino, Raspberry, Orange Pi, and
                    ESP32. Development of IoT projects with hardware and software integration.
                </p>
            </div>
        </div>
    </div>
</section>
