<section class="technologies" id="technologies">
    <h2 class="heading">Technologies</h2>

    <div class="technologies-carousel">
        <div class="carousel-track">
            <div class="tech-item">
                <i class="bx bxl-django"></i>
                <span>Django</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-python"></i>
                <span>Python</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-aws"></i>
                <span>AWS</span>
            </div>
            <div class="tech-item">
                <i class="bx bxs-file-doc"></i>
                <span>C#</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-mongodb"></i>
                <span>MongoDB</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-postgresql"></i>
                <span>PostgreSQL</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-spring-boot"></i>
                <span>Spring Boot</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-nodejs"></i>
                <span>Express</span>
            </div>

            <!-- Duplicate for seamless loop -->
            <div class="tech-item">
                <i class="bx bxl-django"></i>
                <span>Django</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-python"></i>
                <span>Python</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-aws"></i>
                <span>AWS</span>
            </div>
            <div class="tech-item">
                <i class="bx bxs-file-doc"></i>
                <span>C#</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-mongodb"></i>
                <span>MongoDB</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-postgresql"></i>
                <span>PostgreSQL</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-spring-boot"></i>
                <span>Spring Boot</span>
            </div>
            <div class="tech-item">
                <i class="bx bxl-nodejs"></i>
                <span>Express</span>
            </div>
        </div>
    </div>
</section>
